{% extends 'base/base.html' %} {% block content %}

<h1 class="font-bold text-clr-accent-1 text-7xl text-center mb-8">Gene Lab</h1>

<div class="flex-auto p-2 m-auto rounded-md shadow-lg lg:w-1/2 bg-blue-200">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex justify-center py-5">
      <div class="mb-3 w-96 flex items-center flex-col">
        <label
          class="form-label inline-block mb-2 text-black font-bold"
          for="id_upload"
          >Upload MicroRNA Genetic Profile</label
        >
        <input
          type="file"
          class="form-control bg-blue-200 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          name="upload"
          required=""
          id="id_upload"
        />
        <input
          type="submit"
          value="Send to AI"
          class="m-4 inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out"
        />
      </div>
    </div>
  </form>
</div>

<div class="example-container flex text-center lg:w-2/3 m-auto">
  {% for example in examples %}
  <div
    class="flex flex-col w-1/3 p-3 cursor-pointer shrink flex-auto m-4 rounded-md shadow-lg bg-blue-200"
  >
    <h4 class="font-medium leading-tight text-2xl mt-0 mb-2 text-blue-600">
      Example {{ example.0 }}
    </h4>
    <button
      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-ou"
    >
      <a
        href="{% url 'download' filename=example.1 %}"
        class="inline-flex items-center shrink"
      >
        <svg
          class="fill-current w-4 h-4 mr-2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
        </svg>
        <span>Download</span>
      </a>
    </button>
    <button
      class="bg-green-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
    >
      <a
        href="{% url 'genelab_file' filename=example.1 %}"
        class="inline-flex items-center"
      >
        <span>Run Example</span>
      </a>
    </button>
  </div>
  {% endfor %}
</div>

<div class="flex-auto p-2 m-auto rounded-md shadow-lg lg:w-1/3 bg-blue-200">
  <div class="flex flex-col items-center">
    <h2 class="inline-block mb-2 text-black font-bold">Guide</h2>
    <p class="text-black">
      Upload your microRNA Genetic Profile in a comma seperated .txt file.<br />
      The AI will then perform a differential gene expression analysis on the
      profile and display its findings.
    </p>
  </div>
</div>

{% endblock %}
