{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'base/favicon/favicon.ico' %}"
      type="image/x-icon"
    />
    {% block links %}{% endblock %}
    <title>FourSight</title>
  </head>

  <body>
    {% include 'base/navbar.html' %} {% block content %} {% endblock %}
    <link rel="stylesheet" href="{% static 'base/css/background.css' %}">
  </body>
  
  <br>
  <footer style="text-align:center">
    <a href="https://www.facebook.com/people/FourSight-FourSight/100082851579519/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/foursightcancer/" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/foursight-company-20486b243/" target="_blank" class="fa fa-linkedin"></a>
    <br>
    <small>&copy; <script>document.write(new Date().getFullYear())</script>, FourSight</small>
  </footer>
</html>
