<nav class="block">
    <div class="w-2/3 m-auto">
        <h1 class="p-3 text-3xl font-bold"><a href="/">FourSight</a></h1>
    </div>
	<div class="flex shadow-md">
		<ul class="flex m-auto">
			<li class="p-3 text-lg">
                Diagnosis &#9660
            </li>
            <li class="p-3 text-lg">
                Gene Sequence Exploration &#9660
            </li>
            <li class="p-3 text-lg">
                AI Program Guide &#9660
            </li>
            <li class="p-3 text-lg">
                Accomplishments &#9660
            </li>
		</ul>
	</div>
</nav>