{% extends 'base/base.html' %} {% block content %}

<div class="flex">
  <div class="w-2/3 p-3 m-auto">
    <h1 class="font-bold text-clr-accent-1 text-7xl text-center mb-8">
      Accomplishments
    </h1>
    <div
      class="flex-auto p-2 m-auto rounded-md shadow-lg lg:w-2/3 bg-slate-300 text-center"
    >
      <p>
        <strong
          >With 95% accuracy, FourSight detects virtually all forms of cancer
          from a DNA microarray - obtainable from a simple body fluid
          test.</strong
        >
      </p>
      <br />
      <p>
        15% more accurate than conventional cancer diagnosis methods, FourSight
        aims to revolutionize cancer detection methods through our neural
        network AI.
      </p>
      <br />
      <p>
        FourSight is not only the best-in-class for commercial , we're the first
        our of kind.
      </p>
    </div>

    <div class="text-center">
      <br />
      <strong>Canadian Wide Science Fair</strong>
      <br />
      <p>
        The Actuarial Foundation of Canada Award<br />
        Sponsor: The Actuarial Foundation of Canada
      </p>
      <br />
      <p>
        Excellence Award - Gold<br />
        Sponsor: Youth Science Canada
      </p>
      <br />
      <p>
        Challenge Award - Disease and Illness<br />
        Sponsor: Youth Science Canada
      </p>
      <br />
      <p>
        Sanofi Biogenius Canada Award<br />
        Sponsor: Sanofi Canada
      </p>
      <br />
      <p>
        Youth Can Innovate Award<br />
        Sponsor: The Gwyn Morgan and Patricia Trottier Foundation
      </p>
      <br />
      <p>
        Youth Can Innovate Award<br />
        Sponsor: The Gwyn Morgan and Patricia Trottier Foundation<br />
        <i>Additional Award</i>
      </p>
      <br />
      <p>
        Platinum Award - Innovation<br />
        Sponsor: Youth Science Canada
      </p>
      <br />
      <p>
        Dalhousie University Faculty of Science Entrance Scholarship<br />
        Sponsor: Dalhousie University, Faculty of Science
      </p>
      <br />
      <p>
        UBC Science (Vancouver) Entrance Award<br />
        Sponsor: The University of British Columbia (Vancouver)
      </p>
      <br />
      <p>
        University of Manitoba Entrance Scholarship<br />
        Sponsor: University of Manitoba
      </p>
      <br />
      <p>
        University of New Brunswick Canada-Wide Science Fair Scholarship<br />
        Sponsor: University of New Brunswick
      </p>
      <br />
      <p>
        University of Ottawa Entrance Scholarship<br />
        Sponsor: University of Ottawa
      </p>
      <br />
      <p>
        Western University Scholarship<br />
        Sponsor: Western University
      </p>
      <br />
      <strong>York Region Science & Technology Fair</strong>
      <br />
      <p>
        Gold Medal<br />
        Sponsor: York University
      </p>
      <br />
      <p>
        Challenge Award - Disease and Illness<br />
        Sponsor: York University
      </p>
    </div>

    {% endblock %}
  </div>
</div>
