{% extends 'base/base.html' %} {% block content %}

<div class="flex">
  <div class="w-2/3 p-3 m-auto">
    <h1 class="font-bold text-clr-accent-1 text-7xl text-center mb-8">
      Accomplishments
    </h1>
    <div
      class="flex-auto p-2 m-auto rounded-md shadow-lg lg:w-2/3 bg-slate-300 text-center text-black"
    >
      <p>
        <strong>
          With 95% accuracy, FourSight detects virtually all forms of cancer
          from a DNA microarray - obtainable from a simple body fluid
          test.</strong
        >
      </p>
      <br />
      <p>
        15% more accurate than conventional cancer diagnosis methods, FourSight
        aims to revolutionize cancer detection methods through our neural
        network AI.
      </p>
      <br />
      <p>
        FourSight is not only the best-in-class for commercial, we're the first
        our of kind.
      </p>
    </div>

    <div class="text-center">
      <br />
      <br />
      <strong><u>European Union Contest for Young Scientists 2022</u></strong>
      <br />
      <br />
      <p>
        Selected to represent Canada <br />
        Sponsor: <i>Youth Science Canada</i>
      </p>
      <br />
      <br />
      <strong><u>Canada-Wide Science Fair 2022</u></strong>
      <br />
      <br />
      <p>
        The Actuarial Foundation of Canada Award<br />
        Sponsor: <i>The Actuarial Foundation of Canada</i>
      </p>
      <br />
      <p>
        Excellence Award - Gold<br />
        Sponsor: <i>Youth Science Canada</i>
      </p>
      <br />
      <p>
        Challenge Award - Disease and Illness<br />
        Sponsor: <i>Youth Science Canada</i>
      </p>
      <br />
      <p>
        Sanofi Biogenius Canada Award<br />
        Sponsor: <i>Sanofi Canada</i>
      </p>
      <br />
      <p>
        Youth Can Innovate Award<br />
        Sponsor: <i>The Gwyn Morgan and Patricia Trottier Foundation</i>
      </p>
      <br />
      <p>
        Youth Can Innovate Additional Award<br />
        Sponsor: <i>The Gwyn Morgan and Patricia Trottier Foundation</i>
      </p>
      <br />
      <p>
        Platinum Award - Innovation<br />
        Sponsor: <i>Youth Science Canada</i>
      </p>
      <br />
      <p>
        Dalhousie University Faculty of Science Entrance Scholarship<br />
        Sponsor: <i>Dalhousie University, Faculty of Science</i>
      </p>
      <br />
      <p>
        UBC Science (Vancouver) Entrance Award<br />
        Sponsor: <i>The University of British Columbia (Vancouver)</i>
      </p>
      <br />
      <p>
        University of Manitoba Entrance Scholarship<br />
        Sponsor: <i>University of Manitoba</i>
      </p>
      <br />
      <p>
        University of New Brunswick Canada-Wide Science Fair Scholarship<br />
        Sponsor: <i>University of New Brunswick</i>
      </p>
      <br />
      <p>
        University of Ottawa Entrance Scholarship<br />
        Sponsor: <i>University of Ottawa</i>
      </p>
      <br />
      <p>
        Western University Scholarship<br />
        Sponsor: <i>Western University</i>
      </p>
      <br />
      <br />
      <strong><u>York Region Science & Technology Fair 2022</u></strong>
      <br />
      <br />
      <p>
        Gold Medal<br />
        Sponsor: <i>York University</i>
      </p>
      <br />
      <p>
        Challenge Award - Disease and Illness<br />
        Sponsor: <i>York University</i>
      </p>
      <br />
      <br />
      <strong><u>The York Catholic District School Board</u></strong>
      <br />
      <br />
      <p>
        Certificate of Recognition<br />
        Sponsor: <i>York Catholic District School Board</i>
      </p>
      <br />
    </div>

    {% endblock %}
  </div>
</div>
