{% extends 'base/base.html' %}

{% block content %}

<main class="flex">
	<div class="m-auto w-2/3 space-y-5">
		<div>
			<h1 class="text-center w-full">ForeSight in Action</h1>
			<div class="flex space-x-3 items-center justify-center">
				<div>
					<h3>Database</h3>
				</div>
				<div>
					<h3>AI Diagnosis</h3>
				</div>
				<div>
					<h3>Graphs</h3>
				</div>
			</div>
		</div>

		<div>
			<h1 class="text-center w-full">Resources</h1>
			<div class="flex space-x-3 items-center justify-center">
				<div>
					<h3>GEO</h3>
				</div>
				<div>
					<h3>idk what this says</h3>
				</div>
				<div>
					<h3>Kaggle</h3>
				</div>
			</div>
		</div>

		<h1 class="text-center">Our Mission</h1>

		<h1 class="text-center">News</h1>

		<h1 class="text-center">Team</h1>
	</div>
</main>

{% endblock %}