{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<style>
	@keyframes fadeFromBottom {
		from {
			opacity: 0;
			transform: translateY(100%);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fade-in5 {
		animation: fadeFromBottom .5s ease-in-out;
	}

	.fade-in6 {
		animation: fadeFromBottom .6s ease-in-out;
	}

	.fade-in7 {
		animation: fadeFromBottom .7s ease-in-out;
	}
</style>

<div class="flex">
	<div class="w-2/3 p-3 m-auto">
		<div class="relative flex items-center py-5">
			<div class="flex-grow border-t border-gray-500"></div>
			<span class="flex-shrink mx-4 text-4xl font-bold">Our Mission</span>
			<div class="flex-grow border-t border-gray-500"></div>
		</div>
		<div class="relative flex items-center py-5">
			<p>
				FourSight is an attempt to <b>revolutionize early cancer diagnosis</b> by combining two of science’s newest innovations: AI and genetic sequencing. FourSight, the artificial neural network is capable of classifying <b>12 different types of cancer</b> from genetic expression data. It is <b>95% accurate</b>! With FourSight, cancer detection can be non-invasive, faster, more accurate, and completely automated.
			</p>
		</div>

		<div class="py-10">
			<div class="relative flex items-center py-5">
				<div class="flex-grow border-t border-gray-500"></div>
				<span class="flex-shrink mx-4 text-4xl font-bold">FourSight in Action</span>
				<div class="flex-grow border-t border-gray-500"></div>
			</div>
			<div class="flex text-center">
				<a class="w-1/3 p-3 cursor-pointer fade-in5" href="/app">
					<div class="overflow-hidden rounded-t-md">
						<img src="{% static 'img/sample.jpg' %}" class="object-fill duration-200 hover:scale-110">
					</div>
					<div class="p-1 text-lg font-semibold bg-slate-200 rounded-b-md">AI Diagnosis</div>
				</a>
				<a class="w-1/3 p-3 cursor-pointer fade-in6">
					<div class="overflow-hidden rounded-t-md">
						<img src="{% static 'img/sample.jpg' %}" class="object-fill duration-200 hover:scale-110">
					</div>
					<div class="p-1 text-lg font-semibold bg-slate-200 rounded-b-md">Gene Lab</div>
				</a>
				<a class="w-1/3 p-3 cursor-pointer fade-in7" href="/notebook">
					<div class="overflow-hidden rounded-t-md">
						<img src="{% static 'img/sample.jpg' %}" class="object-fill duration-200 hover:scale-110">
					</div>
					<div class="p-1 text-lg font-semibold bg-slate-200 rounded-b-md">Program Notebooks</div>
				</a>
			</div>
		</div>

		<div class="relative flex items-center py-5">
			<div class="flex-grow border-t border-gray-500"></div>
			<span class="flex-shrink mx-4 text-4xl font-bold">News</span>
			<div class="flex-grow border-t border-gray-500"></div>
		</div>

		<div class="relative flex items-center py-5">
			<div class="flex-grow border-t border-gray-500"></div>
			<span class="flex-shrink mx-4 text-4xl font-bold">Team</span>
			<div class="flex-grow border-t border-gray-500"></div>
		</div>

		<div class="py-10">
			<div class="relative flex items-center py-5">
				<div class="flex-grow border-t border-gray-500"></div>
				<span class="flex-shrink mx-4 text-4xl font-bold">Resources</span>
				<div class="flex-grow border-t border-gray-500"></div>
			</div>
			<div class="flex text-center">
				<a class="w-1/3 p-3 cursor-pointer fade-in5" href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi" target="_blank">
					<div class="overflow-hidden rounded-t-md">
						<img src="{% static 'img/sample.jpg' %}" class="object-fill duration-200 hover:scale-110">
					</div>
					<div class="p-1 text-lg font-semibold bg-slate-200 rounded-b-md">Gene Expression Omnibus</div>
				</a>
				<a class="w-1/3 p-3 cursor-pointer fade-in6" href="https://www.3d-gene.com/en/" target="_blank">
					<div class="overflow-hidden rounded-t-md">
						<img src="{% static 'img/sample.jpg' %}" class="object-fill duration-200 hover:scale-110">
					</div>
					<div class="p-1 text-lg font-semibold bg-slate-200 rounded-b-md">Toray Industries</div>
				</a>
				<a class="w-1/3 p-3 cursor-pointer fade-in7" href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GPL21263" target="_blank">
					<div class="overflow-hidden rounded-t-md">
						<img src="{% static 'img/sample.jpg' %}" class="object-fill duration-200 hover:scale-110">
					</div>
					<div class="p-1 text-lg font-semibold bg-slate-200 rounded-b-md">Microarray Samples</div>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}